body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: url(./images/deskpic.jpg);
    background-size: cover;
}

main {
    flex: 1 0 auto;
}

.nav-wrapper {
font-weight: 600;
margin-left: 150px;
margin-right: 150px;
padding-bottom: 200px;
}

#about-me {
    text-align: center;
    position: relative;
    padding: 500px;
}

a {
    color: white;
}